/* H1, H2, H3: páginas cómo comprar, productos, sale y contacto */

.mainH1 {
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  background-color: rgba(255, 182, 193, 0.07);
  margin-top: 15px;
  margin-bottom: 25px;
}

.mainH2 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 30px;
  margin-left: 10px;
}

.mainH3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  letter-spacing: 1px;
  margin-left: 10px;
}
/* -- */

/* página: productos */

.styleCard_1 {
  width: 100%;
}

.styleCard_2 {
  height: 250px;
  width: auto;
}

.styleCard_3 {
  background-color: #ffb6c1;
  border: #ffb6c1;
}

.styleCard_4 {
  background-color: #ffb6c1;
  border: #ffb6c1;
}

.styleCard_5 {
  text-decoration: none;
  color: white;
}

.tittle_card {
  font-size: 22px;
}

.tittle_text {
  font-size: 16px;
}

.text_card {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 19px;
}
/* -- */
