/* página: index (inicio) */

.itemImgIndex_ppal {
  width: 100%;
  height: auto;
  max-height: 425px;
  margin-top: -13px;
  margin-bottom: 20px;
}

.itemImgIndex_ppal:hover {
  filter: blur(2px);
}

.h1Index {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgba(255, 182, 193, 0.2);
  text-align: center;
}

.contenedorImgRedondas {
  display: flex;
  justify-content: center;

  .imgRedondo {
    width: 100%;
    max-width: 65px;
    height: auto;
    margin-top: 5px;
    margin-right: 20px;
  }

  .contenedorImgRedondas_p {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-top: 10px;
    width: 70px;
  }

  .p_redondo1 {
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .p_redondo2 {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .p_redondo3 {
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .p_redondo_a {
    text-decoration: none;
    color: black;
  }
}

.h2Index {
  color: #ffb6c1;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 5px;
}

/* -- cards de index (inicio) */

.styleCard_1 {
  width: 100%;
}

.styleCard_2 {
  height: 250px;
  width: auto;
}

.styleCard_3 {
  background-color: #ffb6c1;
  border: #ffb6c1;
}

.styleCard_4 {
  background-color: #ffb6c1;
  border: #ffb6c1;
}

.styleCard_5 {
  text-decoration: none;
  color: white;
}

.tittle_card {
  font-size: 22px;
}

.tittle_text {
  font-size: 16px;
}

.text_card {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 19px;
}

.h5Index {
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
}

.bannerP {
  font-size: 2rem;
}

.bannerH6 {
  color: black;
  font-weight: 500;
}
/* -- */
