// Colores
$primary-color: #ffb6c1;
$color-borde: #ffb6c1;

// Fuente principal
$font-main:"Faustina";

// Tamaños de fuente
$tamano-base: 15px;
$tamano-mediano: 16px;
$tamano-grande: 18px;
$tamano-extragrande: 20px;